# Prisma database URL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:your_password_here@localhost:5432/voleyboll_db"

# Server configuration
PORT=3001

# JWT Secret
JWT_SECRET="your_super_secret_jwt_key"
